#home {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
  position: relative;


  #waterfall-scroll-container {

    box-sizing: border-box;
    display: flex; // FIXME: css
    font-family: "PingFang SC", DFPKingGothicGB-Regular, sans-serif;
    //height: 6000px !important;
    margin: 0px 22px;
    //align-items: center;
    //justify-content: center;
    height: 100%;
    outline: rgb(0, 0, 0) none 0px;
    min-height: 450px;
    padding: 25px 10px;
    position: relative;
    //transform: matrix(1, 0, 0, 1, 0, -16);
    //width: 2135px;

    // Video Cards Display
    //@for $i from 1 through 10 {
    //.video-card:nth-child(#{$i}) {

    .video-card {
      //&:hover {
      //  //animation: zoomInOut 0.5s;
      //  transition: transform 0.3s ease-in-out;
      //  transform: scale(0.99);
      //}
      background-color: rgba(37, 38, 50, 1);
      //@extend .border-6;
      border: none;
      cursor: pointer;
      //width: 300px !important;
      //max-width: 350px;
      //min-width: 300px;

      //margin: 0px;
      //outline: rgb(0, 0, 0) none 0px;
      //padding: 0px;
      //position: absolute;
      //transform: matrix(1, 0, 0, 1, 315 * ($i - 1), 0);
      //will-change: transform;
      display: flex;
      flex-direction: column;
      border-radius: 12px !important;

      .arco-card-cover {
        //height: max-content;
        //display: none;
        border-top-left-radius: 12px !important;
        border-top-right-radius: 12px !important;

        video {
          filter: blur(0px); /* 初始状态 */
        }

        .arco-image {
          height: 100%;
          .arco-image-loader{
            background-color: transparent;
          }

          &.animated {
            //height:100%;
            .arco-image-img {

              animation: blur 0.2s running alternate; /* 添加动画 */
              @keyframes blur {
                0% {
                  filter: blur(10px); /* 初始状态 */
                }
                100% {
                  filter: blur(0px); /* 最终状态 */
                }
              }
            }
          }


        }

        border: none;
        flex: 1;
        background-color: rgba(37, 38, 50, 1);

        .arco-image-with-footer-inner {
          .arco-image-footer-caption {
            display: none;
          }
        }
      }

      .arco-card-body {
        //display: none;
        border-bottom-left-radius: 12px !important;
        border-bottom-right-radius: 12px !important;
        border: none;
        background-color: rgba(37, 38, 50, 1);

        .video-title {
          //word-wrap: break-word;
          //overflow-wrap: break-word;
          //width: 100%;
          color: $color-text-0;
          //white-space: break-spaces;
          //cursor: pointer;
          //overflow: hidden;
          //text-overflow: ellipsis;
          //word-break: break-all;
          //height: auto;
          //font-size: 15px;
          //line-height: 23px;
          //
          //flex-wrap: nowrap;
          //-webkit-line-clamp: 3; /*用来限制在一个块元素显示的文本的行数。*/
          //overflow: hidden; /*必须结合的属性,当内容溢出元素框时发生的事情*/
          ////white-space:nowrap;
          height: 46px;

          a {
            text-decoration: none;
            color: $color-text-t1;
            //text-decoration: none !important;
            font-family: PingFang SC, DFPKingGothicGB-Regular, sans-serif;
            font-size: 15px;
            font-weight: 400;
            line-height: 23px;
            overflow: hidden; /*必须结合的属性,当内容溢出元素框时发生的事情*/
            text-overflow: ellipsis; /*可以用来多行文本的情况下，用省略号“…”隐藏超出范围的文本 。*/
            display: -webkit-box; /*必须结合的属性 ，将对象作为弹性伸缩盒子模型显示 。*/
            -webkit-line-clamp: 2; /*用来限制在一个块元素显示的文本的行数。*/
            -webkit-box-orient: vertical;
            white-space: pre-line;
          }
        }

        .arco-card-meta-footer {
          .video-meta {
            color: #fff;
            display: flex;
            //opacity: 0.5;


            .name {
              //text-wrap: none;
              white-space: nowrap;
              //width: 30px;
              //width: min-content;
              max-width: 100px;
              text-overflow: ellipsis;
              color: $color-text-2;
              overflow: hidden; /*必须结合的属性,当内容溢出元素框时发生的事情*/
              display: -webkit-box; /*必须结合的属性 ，将对象作为弹性伸缩盒子模型显示 。*/
              -webkit-box-orient: vertical;
              //width: auto;
              //word-break: break-all;
              cursor: pointer;
              display: inline;
              font-family: "PingFang SC", DFPKingGothicGB-Regular, sans-serif;
              font-size: 14px;
              height: auto;
              line-height: 22px;
            }

            .time-diff {
              line-height: 23px;
              margin-left: 5px;
              font-family: PingFang SC, DFPKingGothicGB-Regular, sans-serif;
              display: inline;
              font-size: 12px;
              font-weight: 400;
              //margin-right: 40px;
              color: $color-text-t3;
            }
          }
        }

      }
    }

    .list-append-area {
      width: 100%;
      position: absolute;
      height: 80px;

      .load-more {
        left: 45% !important;
        //color: $color-text-0;
        //background: transparent !important;
        //border-color: white;
        //border:none;
        //opacity: 0.4;
        //box-shadow: none;

        &::before {
          //display: none;
        }

        &:hover {
          //opacity: 0.7;
        }
      }
    }

    //}
  }
}
