#home {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
  position: relative;


  #waterfall-scroll-container {

    box-sizing: border-box;
    display: flex; // FIXME: css
    font-family: "PingFang SC", DFPKingGothicGB-Regular, sans-serif;
    //height: 6000px !important;
    margin: 0px 22px;
    //align-items: center;
    //justify-content: center;
    height: 100%;
    outline: rgb(0, 0, 0) none 0px;
    min-height: 450px;
    padding: 25px 10px;
    position: relative;
    //transform: matrix(1, 0, 0, 1, 0, -16);
    //width: 2135px;

    // Video Cards Display
    //@for $i from 1 through 10 {
    //.video-card:nth-child(#{$i}) {


    .video-card {
      //&:hover {
      //  //animation: zoomInOut 0.5s;
      //  transition: transform 0.3s ease-in-out;
      //  transform: scale(0.99);
      //}
      background-color: rgba(37, 38, 50, 1);
      //@extend .border-6;
      border: none;
      cursor: pointer;
      //width: 300px !important;
      //max-width: 350px;
      //min-width: 300px;
      border-top-left-radius: 12px !important;
      border-top-right-radius: 12px;
      //margin: 0px;
      //outline: rgb(0, 0, 0) none 0px;
      //padding: 0px;
      //position: absolute;
      //transform: matrix(1, 0, 0, 1, 315 * ($i - 1), 0);
      //will-change: transform;
      display: flex;
      flex-direction: column;

      .arco-card-cover {
        //height: max-content;
        //display: none;

        video {
          filter: blur(0px); /* 初始状态 */
        }

        .arco-image {
          height: 100%;


          &.animated {
            //height:100%;
            .arco-image-img {

              animation: blur 0.2s running alternate; /* 添加动画 */
              @keyframes blur {
                0% {
                  filter: blur(10px); /* 初始状态 */
                }
                100% {
                  filter: blur(0px); /* 最终状态 */
                }
              }
            }
          }


        }

        border: none;
        flex: 1;
        background-color: rgba(37, 38, 50, 1);

        .arco-image-with-footer-inner {
          .arco-image-footer-caption {
            display: none;
          }
        }
      }

      .arco-card-body {
        //display: none;
        border: none;
        background-color: rgba(37, 38, 50, 1);

        .video-title {
          word-wrap: break-word;
          overflow-wrap: break-word;
          width: 100%;
          color: #fff;
        }

        .video-meta {
          color: #fff;
          opacity: 0.5;
        }
      }
    }

    .list-append-area {
      width: 100%;
      position: absolute;
      height: 80px;

      .load-more {
        left: 45% !important;
        //color: $color-text-0;
        //background: transparent !important;
        //border-color: white;
        //border:none;
        //opacity: 0.4;
        //box-shadow: none;

        &::before{
          //display: none;
        }

        &:hover {
          //opacity: 0.7;
        }
      }
    }

    //}
  }
}
