*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html {
  //@extend .show-border;
  background: rgba(22, 24, 35, 1);

}

body, body > div:first-child, html {
  height: 100%;
}

body, html {
  margin: 0;
  overscroll-behavior-x: contain;
  padding: 0;
}

body {
  min-width: 628px !important;

}

#app {
  height: 100%;

}

.main-background {
  //background: #fff;

  //background: no-repeat url(https://p-pc-weboff.byteimg.com/tos-cn-i-9r5gewecjs/test.png) $color-bg-b0;
  background: #fff;
  background: no-repeat url(https://p-pc-weboff.byteimg.com/tos-cn-i-9r5gewecjs/test.png) $color-bg-b0;
  //height: 100vh;
  //height: 200vh;
  //position: fixed;
  //width: 200%;
  width: 100%;
  display: flex;
  //background-position: top;
  //background-size: cover;
  height: 100%;
  //width: 100vw;
}

.show-border {
  .border-1 {
    border: 0.1px solid green !important;
  }

  .border-2 {
    border: 0.1px solid red !important;
  }

  .border-3 {
    border: 0.1px solid blue !important;
  }

  .border-4 {
    border: 0.1px solid yellow !important;
  }

  .border-5 {
    border: thick solid yellow !important;
  }

  .border-6 {
    border: thick solid white !important;
  }

}


// 隐藏滚动条
.hide-scroll-bar {
  //scrollbar-width: none; /* firefox */
  //-ms-overflow-style: none; /* IE 10+ */
  ////overflow-x: hidden;
  //overflow-y: auto;
}

::-webkit-scrollbar {
  display: none; /* Chrome Safari */
  height: 0 !important;
  width: 0 !important;
}

.arco-trigger-menu {
  padding: 10px !important;
  border-radius: 12px !important;

  .arco-trigger-menu-inner .arco-trigger-menu-item {
    border-radius: 12px;
    margin: 5px 0;
  }


}
