*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html,
body {
  background: $color-bg-b0 !important;
}

.main-background {
  background: #fff;
  background: no-repeat url(https://p-pc-weboff.byteimg.com/tos-cn-i-9r5gewecjs/test.png) $color-bg-b0;
  height: 100vh;
  position: fixed;
  width: 100vw;
}


.border-1 {
  border: thick solid green !important;
}

.border-2 {
  border: thick solid red !important;
}
