$header-height: 68px;
$sidebar-width: 160px;
#layout-a {

  #layout-a-right {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-family: "PingFang SC", DFPKingGothicGB-Regular, sans-serif;
    height: 100%;
    //height: 1340px !important;
    margin: 0px;
    outline: rgb(0, 0, 0) none 0px;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    padding: 0px;
    position: relative !important;

    .arco-layout-header {
      width: 100%;
      height: $header-height;
      position: relative;
      z-index: 502;
      $header-nav-width: 350px;

      #a-header {
        height: 100%;
        align-items: center;
        display: flex;
        position: relative;
        //height: 100%;
        //margin: 0 32px 0 22px;
        margin: 0 0 0 22px;
        width: 100%;

        header {
          height: 100%;
          align-items: center;
          display: flex;
          position: relative;
          //height: 100%;
          margin: 0 16px 0 0px;
          //margin: 0;
          width: 100%;

          .nav-menu {
            background-color: transparent;
            height: 100%;
            //width: 20%;
            display: flex;
            align-items: center;
            min-width: 250px;
            //min-width: auto;
            //width: min-content;
            //width: auto;
            //margin-top: -10px;
            //@media (min-width: 0) {
            //}
            @media (min-width: 930px) {
              min-width: 100%;
              width: $header-nav-width;
              //min-width: auto;
              //width: $header-nav-width;
              //min-width: $header-nav-width;
            }

            .arco-menu-inner {
              padding: 0;
              margin: 0;
              display: flex;
              //.arco-menu-overflow-wrap{
              //  height: 100%;
              //  display: flex;
              //}
              .arco-menu-item, [aria-haspopup="true"] {
                background-color: transparent;
                height: 100%;
                padding: 0;
                margin: 0;

                //display: flex;

                .arco-btn {
                  background-color: transparent;
                  width: 100%;
                  color: white;
                  display: flex;
                  flex-direction: column;
                }

                .arco-btn-icon {
                  margin-right: 0;
                  font-size: 18px;
                  opacity: 0.5;
                }

                .nav-text {
                  font-size: 10px;
                  font-weight: 400;
                  line-height: 20px;
                  text-align: center;
                  word-break: keep-all;
                  opacity: 0.5;
                }

                &:hover {
                  .arco-btn-icon, .nav-text {
                    opacity: 1;
                  }
                }
              }

              .arco-menu-overflow-sub-menu {
                margin-left: 20%;
                //float: right;
              }
            }
          }

          @media (min-width: 930px) {
            justify-content: flex-end;
            display: flex;
          }

          @media (min-width: 2472px) {
            margin: 0 auto;
          }

          @media (min-width: 1032px) {
            //padding-right: 40px;
          }

          .search-bar {
            $border-radius: 12px;
            z-index: 1;
            align-items: center;
            box-sizing: border-box;
            display: inline-flex;
            flex-direction: row;
            flex-grow: 1;
            border: 2px solid hsla(0, 0%, 100%, .7);
            border-radius: $border-radius;
            background-color: transparent;
            //height: 100%;
            height: 46px;
            justify-content: space-between;
            position: relative;
            //margin-left: 22px;
            max-width: 640px;
            min-width: 333px;
            //width: 70%;
            //width: 640px !important;

            //@media (min-width: 930px) {
            //  //width: 320px;
            //  //max-width: max-content;
            //  position: absolute;
            //  margin: 20px 0;
            //  max-width: 640px;
            //  //min-width: 333px;
            //  right: $header-nav-width + 20px;
            //}
            @media (min-width: 930px) {
              padding: 0;
              position: absolute;
              right: 412px;
              width: calc(40% + 41.6px);
            }
            @media (min-width: 1158px) {
              min-width: 333px;
              padding: 0;
              position: absolute;
              right: 412px;
              width: calc(40% + 41.6px);
            }
            @media (min-width: 1240px) {
              padding: 0;
              position: absolute;
              right: 412px;
              width: calc((100% + 32px + $sidebar-width) * .4);
            }
            @media (min-width: 1500px) {
              left: calc(50vw - $sidebar-width / 2 - 54px - (100% + 32px + $sidebar-width) * .4 / 2);
              width: calc((100% + 32px + $sidebar-width) * .4);

            }
            @media (min-width: 1590px) {
              left: calc(50vw - $sidebar-width / 2 - 354px);
              width: 640px;
            }


            .arco-input-append {
              background-color: transparent !important;
              height: 100%;

              .arco-btn {
                width: 69px;
                //width: 73px;
                //margin: 0 -2px;
                //transition: none;
                height: 100%;
                border-top-right-radius: calc($border-radius - 3px);
                border-bottom-right-radius: calc($border-radius - 3px);
                background-color: transparent;
                font-size: 15px;
                font-weight: 550;
                line-height: 24px;
                //-webkit-user-select: none;
                //-ms-user-select: none;
                user-select: none;
                //padding: 0;
                //margin:0;
              }
            }

            .arco-input-wrapper {
              height: 100%;

              border: none !important;
              background-color: transparent !important;

            }

            &:hover {
              border: 2px solid #fff;

              .arco-btn {
                background-color: #fff;
                color: rgba(22, 24, 35, .75);
              }
            }


          }

        }
      }

    }


  }

  .arco-layout-sider {
    width: $sidebar-width !important;
    flex-shrink: 0;
    //position: static;
    //position: fixed;
    //height: 100vh;
    height: 100%;
    position: relative;
    //height: calc(100vh - $header-height);
    background-color: transparent;
    @extend .hide-scroll-bar;
    //.arco-layout-sider-children{
    //  position: fixed;
    //
    //}
    #a-side-bar {
      position: fixed;
      //box-sizing: border-box;
      //height: 100%;
      height: 100vh;
      //position: relative;
      //position: static;
      //width: min-content;
      width: $sidebar-width !important;
      display: flex;
      flex-direction: column;
      flex-grow: 1;


      //overflow-y: scroll;
      //height: max-content;
      //overflow-x: hidden;

      .nav-menu {
        @extend .hide-scroll-bar;
        height: calc(100vh - $header-height);
        //height: 1440px;
        //height: 100%;
        //bottom: 2px;
        //position: absolute;
        position: absolute;
        top: $header-height;
        background-origin: padding-box;
        background-color: transparent;
        //width: 160px;
        width: $sidebar-width;
        overflow-x: hidden !important;
        overflow-y: scroll !important;
        overscroll-behavior-x: contain !important;
        overscroll-behavior-y: contain !important;
        //align-items: flex-end;
        margin: 0;
        padding: 0;
        //display: flex;
        //flex-direction: column;
        //flex-grow: 1;
      }

      // Sidebar Nav Icon Display
      $index-list: 0, 1, 2, 3, 15, 0, 4, 5, 8, 6, 10, 7, 9, 14, 11, 12, 13, 0, 16;
      @for $i from 1 through length($index_list) {
        $unselected-position-x: -48px*((nth($index-list,$i)));
        .arco-menu-item:nth-child(#{$i}) .nav-a .nav-icon {
          background-position-x: $unselected-position-x;
        }
        .arco-menu-item:nth-child(#{$i}).arco-menu-selected .nav-a .nav-icon {
          background-position-x: $unselected-position-x - 24px;
        }
      }

      .arco-menu-vertical .arco-menu-inner {
        padding: 0;
      }


      .arco-menu-item, [aria-haspopup="true"] {
        background-color: transparent;
        margin: 0px 16px 2px;
        padding: 0;
        height: 40px;
        justify-content: flex-start;
        border-radius: 12px;
        //opacity: 0.5;
        user-select: none;

        &.arco-menu-selected, &:hover:not(:has(.divider)) {
          background-color: $color-fill-hover !important;

          * {
            opacity: 1;
          }
        }


        &:has(.divider,.divider2) {
          padding: 0 8px;
          height: min-content;
          cursor: auto !important;
        }


        .divider {
          //border-bottom-color: rgba(255, 255, 255, 0.04);
          border-bottom-color: rgba(255, 255, 255, 0.1);
          border-bottom-style: solid;
          border-bottom-width: 0.666667px;
          //border-bottom-width: 1px;
          box-sizing: border-box;
          display: block;
          font-family: "PingFang SC", DFPKingGothicGB-Regular, sans-serif;
          height: 1px;
          margin: 10px 0 0 0;
          outline: rgb(0, 0, 0) none 0;
          padding: 0;
          width: 100%;
        }

        &:nth-child(6) .divider, &:nth-child(18) .divider {
          margin: 10px 0;
        }
      }

      .nav-a {

        align-items: center;
        box-sizing: border-box;
        color: rgb(255, 255, 255);
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        outline: rgb(255, 255, 255) none 0;
        padding: 8px 16px;
        position: relative;
        user-select: none;
        width: 128px;
      }

      .nav-icon {
        opacity: 0.5;
        //background-image: url("/public/images/nav_dark.png");
        background-image: url("/images/nav_dark.png");
        background-size: 816px;
        box-sizing: border-box;
        color: rgb(255, 255, 255);
        cursor: pointer;
        display: block;
        font-family: "PingFang SC", DFPKingGothicGB-Regular, sans-serif;
        height: 24px;
        margin: 0 12px 0 0;
        outline: rgb(255, 255, 255) none 0;
        padding: 0;
        pointer-events: auto;
        user-select: none;
        width: 24px;
      }

      .nav-text {
        opacity: 0.5;
        display: block;
        //width: 28px;
        min-width: 28px;
        align-self: flex-start;
        margin: 0;
        padding: 0;
        position: relative;
        word-break: keep-all;
        line-height: 16px;
        color: white;

        span {
          font-size: 14px;
          font-weight: 400;
          line-height: 24px;
          padding: 0;
          margin: -4px 0px 0px;
          max-width: 70px;
          font-family: "PingFang SC", DFPKingGothicGB-Regular, sans-serif;
          //height: auto;
          //height: 40px;
        }
      }


      .arco-menu .arco-menu-pop-header {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        outline: rgb(255, 255, 255) none 0;
        padding: 8px 16px;
        position: relative;
        user-select: none;
        width: 128px;

        .arco-menu-icon {
          margin-right: 0;
          //margin-left: 16px;
        }
      }

      .arco-menu-icon-suffix {
        right: 5px !important;

        svg {
          opacity: 0.5;
          color: white !important;
        }


      }

      .logo {
        position: relative;
        //bottom: 2px;
        top: 0;
        //left: 0;

        height: $header-height;
        //height: 58px;
        //position: relative;
        //flex-basis: 160px;
        //position: relative;
        //background-color: yellow;
        //width: 100%;
        width: $sidebar-width;
        //top: 0;
        //left: 0;
        //margin: 2px 0;

        div {
          height: 165%;
          justify-content: center;
          left: 50%;
          position: absolute;
          top: 50%;
          display: flex;
          align-items: center;
          transform: translate(-50%, -50%);
          width: 100%;
          //z-index: 2;

          .logo-img {
            /*-webkit-app-region: no-drag;*/
            /*background: url(//p3-pc-weboff.byteimg.com/tos-cn-i-9r5gewecjs/logo-horizontal.svg) no-repeat;*/
            /*background: $logo-small-url;*/
            background: $logo-url;
            width: 91px;
            //width: 100%;
            display: block;
            /*height: 34px;*/
            height: 28px;
            opacity: 1;
            transition: opacity 0.3s;
            //margin: 10px 0 10px 10px;
            //border: thin solid red;
            /*width: 100%;*/
            color: white;
            border-radius: 2px;
            /*width: 30px;*/
          }
        }
      }

      //.copyright {
      //  margin: 0;
      //  font-weight: $fw-semibold;
      //  color: $color-gray-7;
      //  text-align: center;
      //
      //  @media( min-width: $md ){
      //    text-align: left;
      //  }
      //
      //  svg {
      //    width: 16px;
      //    height: 16px;
      //    vertical-align: -2px;
      //    path {
      //      fill: $color-danger;
      //    }
      //  }
      //  a {
      //    font-weight: $fw-bold;
      //    color: $color-gray-12;
      //  }
      //}
    }
  }
}

#popover-a {
  .arco-trigger-popup-wrapper {
    //position: absolute;
    //top: 0;
    //right: 0;
    //transform: none !important;
    //transform: translateY(-100%);
    //transform-origin: 0 !important;
    //transform: translateX(-10%) !important;
    //overflow: hidden !important;
    //z-index:-10 !important;
    //transform:none;
    //animation: slide-in 0.2s ease-out;
    //transition: height 0.5s ease !important;
    //transform: none;

    //transform: translateX(-14%) translateY(6%);
    //width: 300px;

    * {
      color: white !important; // FIXME: optimize
    }

    .arco-popover-popup-content {
      background-color: rgb(37, 38, 50) !important;
      border: none;
      //height: 0;
      position: static;

      top: 8px;
      right: 23px;
      //transform: t;
      animation: slide-in 0.2s ease-out;
      overflow: hidden !important;
      width: 300px;
      height: 600px;

      .profile-user {
        @extend .border-5;
        display: flex;

        .arco-avatar {
          margin: auto 0;
        }

        .basic-info {
          @extend .border-6;
          padding: 0 0 0 10px;

          .name {
            font-size: 14px;
            font-weight: 500;
            line-height: 24px;
            //margin-bottom: 6px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 157px;
          }

          .statistic {
            font-size: 13px;
            font-weight: 400;
            height: 21px;
            line-height: 21px;
            opacity: 0.5;
          }
        }
      }

      .actions {
        &.arco-menu {
          background-color: transparent;
          .arco-menu-inner {
            padding: 0;
            .arco-menu-item {
              *{
                color:white !important;
              }
              .arco-menu-icon{
                //padding: 1;
                //color:red !important;
                font-size: 20px;
              }
              //padding: 0;
              width: 100%;
              margin:10px 0;
              border-radius: 15px;
              background-color: rgba(255,255,255,0.1);
            }
          }
        }


      }
    }

    .arco-trigger-arrow, .arco-popover-popup-arrow {
      display: none;
    }
  }

  //&.arco-popover {
  //  background-color: rgb(37, 38, 50) !important;
  //}

}

@keyframes slide-in {
  from {
    //top:-100px;

    //width: 140px;
    height: 0;
    //transform: translateY(-100%);
  }
  to {
    //top:0;
    //width: 140px;
    //transform: translateY(0)
    height: 600px
  }
}
